body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #cfd1d4 !important;
    background-color: #10151e !important;
}
header a,.btn-outline-secondary,.form-control,a{
  color: #cfd1d4 !important;
  font-size: 14px;
}
header .btn-outline-secondary,.section-second .btn-outline-secondary{
  border: 1.35px solid #cfd1d4;
  padding: 8px 26px;
}
.section-top .form-control,.section-top .btn-outline-secondary{
  border: 1.4px solid #1f262f;
  padding: .7rem 1.3rem;
}
.section-top .btn-outline-secondary:hover{
background-color: #7e0fe1;
}
.section-top .icon-updown{
width: 38px;
height: 38px;
border-width: 6px !important;
}
.section-top .icon-updown i{
  margin-top: -6px;
  font-size: 25px;
}
.section-top .icon-updown:hover {
  display: flex;
  flex-direction: column;
  transform: rotate(180deg);
}
.section-second{
  background-color: #151a23;
}
footer{
  border-top:2px solid #121722 !important;
  background-color: #151a23;
}
@media(max-width:320px){
  footer ul.navbar-nav{
    font-size: 12px;
  }
}
